body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculadora{
    margin: 30px auto;
    border: 2px solid violet;
    border-radius: 20px;
    padding: 30px;
    width: 290px;
}

.calculadora input{
    border: 2px solid purple;
    border-radius: 5px;
    margin: 10px 0;
    height: 20px;
}
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.operacionesBasicas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.operacionesBasicas button{
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    background-color: purple;
    border-radius: 5px;
    margin: 10px auto;
    font-size: 25px;
}
.operacionesMath{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.operacionesMath button{
    border: none;
    color: white;
    width: 120px;
    height: 30px;
    background-color: purple;
    border-radius: 5px;
    margin: 5px auto;
    font-size: 14px;
}
.resultado input{
    width: 100%;
}
.round{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
}
.round button{
    border: none;
    color: white;
    width: 90px;
    height: 30px;
    background-color: purple;
    border-radius: 5px;
    margin: 5px auto;
    font-size: 14px;
}