body{
    background-color: violet;
}
div{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid rgb(139, 95, 19);
    border-radius: 10px;
    margin: 30px auto;
    text-align: center;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}
#Status{
    font-size: 24px;
}