body{
    background-color: #adada5;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    margin: 30px auto;
    width: 800px;
}
h1{
    font-size: 80px;
}