body{
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    border: 1px solid white;
    padding: 40px;
    border-radius: 20px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.buttons button{
    width: 120px;
    height: 75px;
    border: none;
    background-color: violet;
    color: white;
    border-radius: 10px;
    font-weight: 800;
}